.jumbotron{
    background-image: url("/img/1.jpg");
    color: black;
    margin-top: 50px;

}
.btn{
    color: black;
    background-color:  #f8cb87;
    margin: 0%;
}
footer{
    padding: 10px 10px 0 10px;
    background-color:#dea6a7   ;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-store{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}
.footer-address-icon{
    padding-right: 10px;
}
.carousel{
    height: 100%;
}