.jumbotron{
    background-color: #6BC9D8;
    color: black;
}
.btn{
    color: black;
    background-color: #FE629F;
}
footer{
    padding: 10px 10px 0 10px;
    background-color:#6BC9D8 ;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-store{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}